.fondo-login{

	background-image: url(assets/img/background.jpg) !important;

    background-origin: initial;

    background-size: cover;

    background-repeat: no-repeat;

}



.negrita{

	font-weight: bold !important;

}

.centrar{

	text-align: center !important;

}

.mayusculas{

	text-transform: uppercase !important;

}

.requerido{

	color: #e00d0d; 

}

.tabla{

    display: table;

    width: 100%; 

}

.columna{

    display: table-cell;

    vertical-align: middle;

}

.ocultar{

    display: none; 

}

.parsley-required{

	color:#e00d0d; 

	list-style: none; 

}



.breadcrumb-item a{

    color: #6c757d !important; 

}



.foto-pricipal{

    height: 70px;

    width: 70px;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: cover;

}

.sidebar-mini .foto-pricipal{

    height: 35px;

    width: 35px;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: cover;

}

.foto-perfil{

	height: 100px;

    width: 100px;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: cover;

}



.foto-empresa{

    /*height: 300px;*/
    height: 100%;

    /*width: 300px;*/
    width: 100%;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: contain;

}



.foto-mini-empresa{

    /*height: 35px;

    width: 35px;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: contain;*/

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 80px;
    width: 80px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}



.imagen-novedad{

    height: 70px;

    width: 70px;

    display: inline-block;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: contain;

}

.banner-img{
    text-align: right;
}


.novedad{

   color: #6c757d !important;  

   text-decoration: none !important;

}



.novedad:hover{

    box-shadow: 5px 6px 5px 3px #5c635c;

}



.foto-datos{

    height: 150px;

    width: 150px;

    border: 1px solid #CCC;

    border-radius: 5px;

    display: inline-block;

    box-shadow: 1px 1px;

    background-origin: content-box;

    background-repeat: no-repeat;

    background-size: contain;

}



.elipsis{

    min-width: 165px;

    overflow-x: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

}



.rosado-pastel{

    background-color: #ffa8b8 !important;

}

.morado-pastel{

    background-color: #e5bedd !important;

}

.azul-pastel{

    background-color: #b5dcf9 !important;

}



.grey-pastel{

    background-color: #bccef4 !important;

}

.amarillo-pastel{

    background-color: #f6e384 !important;

}

.naranja-pastel{

    background-color: #e8ba86 !important;

}

.morado-pastel{

    background-color: #898cdc !important;

}

.verde-pastel{

    background-color: #a2edce !important;

}

.div-cuenta{

    display: inline-block;

    width: 250px;

    border: 1px solid #CCC;

    position: relative;

    border-radius: 5px;

    background-color: #f8fbf0;

    box-shadow: 1px 1px;

    height: 150px;

    margin: 50px 30px;

}



.imagen-cuenta{

    width: 70px;

    height: 70px;

    border: 1px solid #CCC;

    border-radius: 100%;

    background-color: #FFF;

    left: 0;

    right: 0;

    margin: auto;

    position: absolute;

    top: -25%;

    box-shadow: 1px 1px #928c8c;

    background-image: url(../img/banco.jpg);

    background-origin: content-box;

    background-position: center;

    background-repeat: no-repeat;

    background-size: contain;

    padding: 2px;

}



.div-titulo{

    text-align: center;

    position: absolute;

    left: 0;

    right: 0;

    top: 30%;

    font-size: 16px;

    text-transform: capitalize;

}



.div-saldo{

    display: block;

    font-weight: bold;

}



.div-banco{

  display: block;  

}

/*.div-cuenta a{*/

    /*position: absolute;*/

    /*bottom: 0;*/

    /*margin: auto;*/


    

    

    

    /*text-align: center;*/
/*}*/



./*div-cuenta a:hover{

    color: #0056b3;

    text-decoration: none;

    background-color: #fff5f5;

}*/



.div-contenido:hover{

    color: #0056b3;

    text-decoration: none;

    background-color: #fff5f5;

}


.div-contenido{

    text-align: center;

    position: absolute;

    left: 0;

    right: 0;

    top: 80%;

    font-size: 16px;

    width: 100%;

    background-color: #FFF;

    border-top: 1px solid #CCC;

    /*text-transform: capitalize;*/

}


.movimientos{
    display: inline-block;
}
.extractos{
    display: inline-block;
}
.cargarextracto{
    display: inline-block;
}
.cargarExtracto{
    display: inline-block;
}


.image-login{

    width: 95%;

    margin-bottom: 10%;

}



.tddashboard{

    height: 30px !important; 

  }